.fundo_form{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    background-color: rgba(255, 95, 2, 0.5);
    margin: 0 auto;
}

form{
    width: 50%;
    float: left;
    padding-left: 5px;
    text-align: center;
    padding-bottom: 20px;
}

form fieldset{
    padding: 20px 40px;
    border: 1px solid black;
    width: 50%;
}

form legend{
    text-align: left;
    font-size: 20px;
}

form input[type=text]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border: 1px solid;
    border-radius: 10px;
}

form input[type=text]:focus, form textarea:focus{
    outline: 0;
}

form textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid;
    margin-top: 30px;
    width: 80%;
    height: 200px;
    padding: 10px 13px;
    resize: none;
    border-radius: 10px;
}

form input[type=submit]{
    margin-left: 500px;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 1px solid; 
    border-radius: 20px;
}

form input[type=submit]:hover{
    border: 2px solid orange;
}

.localizacao{
    width: 40%;
    float: right;
    margin: 10px auto;
    margin-right: 36px;
    text-align: justify;
}

@media screen and (max-width: 1024px){   
    .fundo_form{
        height: auto;
        padding-bottom: 2%;
    }

    form{
        top: 0;
        left: 0;
        padding: 0 2%;
        width: 100%;
        height: 100%;
    }
    
    form fieldset{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
        height: 100%;
        padding-bottom: 2%;
    }
    
    form > legend{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
        height: 100%;
    }
    
    form input[type=text]{
        width: 90%;
    }
    
    form textarea{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
    }

    form input[type=submit]{
        top: 0;
        left: 0;
        padding: 0 2%;
        margin-left: 50%;
        margin-top: 5%;
    }
}


@media screen and (max-width: 768px){
    .fundo_form{
        height: auto;
        padding-bottom: 2%;
    }

    form{
        top: 0;
        left: 0;
        padding: 0 2%;
        width: 100%;
        height: 100%;
    }
    
    form fieldset{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
        height: 100%;
        padding-bottom: 2%;
    }
    
    form > legend{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
        height: 100%;
    }
    
    form input[type=text]{
        width: 90%;
    }
    
    form textarea{
        width: 90%;
        top: 0;
        left: 0;
        padding: 0 2%;
    }

    form input[type=submit]{
        top: 0;
        left: 0;
        padding: 0 2%;
        margin-left: 50%;
        margin-top: 5%;
    }
}